<html>
  <head>
      <title>Listado De Productos</title>
      <link rel="icon" href="https://cdn-icons.flaticon.com/png/512/5082/premium/5082284.png?token=exp=1653594138~hmac=b5f2b836b109a43fae9e66839bd39e29">
  </head>
  <body>
    {{{body}}}
  </body>
</html> 